.modal {
    &-content{
      border-radius: 25px;
    }
    &-close-btn {
      position: absolute;
      align-items: center;
      justify-content: center;
      top: -10px;
      right: -10px;
      background-color: $red;
      border-radius: $round-border;
      background-image: none;
      height: 20px;
      width: 20px;
      opacity: 1;
  
      &:hover,
      &:focus {
        opacity: 1;
        box-shadow: none;
      }
      &::before,
      &::after {
        content: "";
        height: 15px;
        width: 2px;
        border-radius: 1px;
        background-color: $white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &::before{
        transform: rotateZ(45deg) translate(-50%, -50%);
        transform-origin: top right;
      }
      &::after{
        transform: rotateZ(135deg) translate(-50%, -50%);
        transform-origin: top left;
        top: 48% !important;
      }
    }
  }
  