.custom-header {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  .dropdown-menu{
    border: 1px solid #e1e1e1 !important;
  }
  .navbar-toggler{
    background: #01a3e9;
    i{
      &:before{
        color:#fff;
      }
    }
  }
    button.navbar-toggler.collapsed{
      i{
          &:before{
              content: "\f0c9"; 
          }
      }
  }
  button.navbar-toggler {
    i{
        &:before{
            content: "\f00d";
        }
    }
  }
    .right-i{
      width: 20px;
      -o-object-fit: contain;
      object-fit: contain;
      height: 17px;
    }
    .menu-right{
      li{
        margin: 0px 5px;
        @include mediaResponsive(md){
          margin: 5px 0px;
        }
        @include mediaResponsive(lg){
          margin: 5px 0px;
        }
      }
    }
    .top-search{
      width: 600px;
      margin-left: 50px;
      border-radius: 5px !important;
      @include mediaResponsive(md){
        margin-left: 0px;
        width: 100%;
      }
      @include mediaResponsive(lg){
        margin-left: 0px;
      }
      .top-input{
        background-color:#f2f2f2 !important;
      }
      .input-group-prepend{
        background-color:#f2f2f2 !important;
        span{
          background-color:#f2f2f2 !important;
          i{
            &:before{
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
    .top-input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-size:14px;
      font-weight:400;
      font-family: 'Work Sans', sans-serif;
    }
    background-color: transparent;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include mediaResponsive (lg) {
      background-color: $white;
    }
    &.sticky {
      background-color: $white;
      position: fixed !important;
      box-shadow: -1px 4px 5px 1px rgba(20, 14, 20, 0.11);
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }
    .navbar-brand {
      position: relative;
      img {
        max-width: 100%;
        width: 80%;
      }
      @include mediaResponsive(sm) {
        width: 50%;
      }
    }
    .blue-btn {
      min-width: 115px;
    }
    .profile-img{
      height: 35px;
      width: 35px;
      margin-left: 10px;
      border-radius: 50%;
      object-fit: cover;
    }
    .dropdown-toggle{
      &::after{
        display:none;
      }
    }
  
    .dropdown-menu{
      padding: 0;
      border-radius: 0;
      .dropdown-item{
        color:#000 !important;       
       &:hover{
        background-color: #f2f2f2 !important;
        strong{
          color:#000;
        }       
       }
      }
    }
  
    .nav-dropdown-link{
      padding: 10px 15px;
      display: block;
      border: none !important;
      border-left: 3px solid transparent !important;
      &:hover{
        color: $black;
        border-left: 3px solid $light-green !important;
        background-color: rgba($color: $light-green, $alpha: .1);
      }
    }
    
    .nav.navbar-nav.login-nav {
      @include mediaResponsive(lg) {
        flex-direction: unset;
        justify-content: center;
      }
    }
  }
  .navbar-expand-lg {
    .navbar-nav {
      .dropdown-menu {
        padding: 2px 2px;
        border-radius: 10px;
        border: 1px solid $grey;
        z-index: 1;
        &::after{
         display:none;
        }
        a.dropdown-item{
          border-radius: 10px;
          transition: all .3s ease;
          z-index: 3;
          position: relative;
          color: $black;
          &:hover{
            color: $white;
            background-color: $red;
          }
          &-link{
            padding: .25rem 1rem;
          }
        }
      }
    }
  }